* {
    font-family: 'Arial', sans-serif;
}

.wrapper {
    width: 80%;
    max-width: 800px;
    padding: 24px 16px;
    margin: 0 auto;
}

.weatherCard {
    background: #f6c6d6;
    padding: 16px 24px;
    display: inline-block;
    margin-left: 24px;
    border-radius: 4px;
    box-shadow: 0 0 4px #000;
}

.cityList {
    float: left;
}

table {
    border: 4px double black;
    border-collapse: collapse;
}

th {
    text-align: left;
    background: #ccc;
    padding: 5px;
    border: 1px solid black;
}

tr:nth-child(odd) {
    background: #fefefe;
}

td {
    padding: 5px;
    border: 1px solid black;
}

.imgTempBlock {
    height: 50px;
}

.imgSrc {
    vertical-align: middle;
}

.selectCityTemp {
    line-height: 50px;
}